<p-toast></p-toast>
<div class="obsah">
  <h1>Book list</h1>
  <div class="book-items">
    @if (books.length === 0) {
      <p>Žádné knihy nenalezeny.</p>
    }

    @for (book of books; track book.id) {
      <div class="book-item">
        <div class="book-text">{{ book.name }}</div>
        <div class="book-buttons">
          <!-- Oblíbená kniha -->
          <p-button (click)="saveBook(book)" [rounded]="true" class="favorite-btn" title="Přidat do oblíbených" severity="success">
            <ng-template pTemplate="icon">
              <i class="bi bi-plus-circle-fill"></i>
            </ng-template> 
          </p-button>
          <!-- Statistiky knihy -->
          <p-button [rounded]="true" class="favorite-btn" title="Přidat do oblíbených" severity="info" >
            <ng-template pTemplate="icon">
              <i class="bi bi-book"></i>
            </ng-template> 
          </p-button>
          <!-- Detail knihy -->
          <p-button [rounded]="true" class="favorite-btn" title="Přidat do oblíbených" severity="help">
            <ng-template pTemplate="icon">
              <i class="bi bi-search"></i>
            </ng-template> 
          </p-button>
        </div>
      </div>
    }
  </div>
</div>