<p-toast></p-toast>
    <div class="container">
        <div class="form-box">
          <h2>{{ isRegistering ? 'Registrace' : 'Přihlášení' }}</h2>
          @if (isRegistering == false) {
          <div class="nevim">
            <mat-form-field appearance="outline" class="input">
              <mat-label>E-mail</mat-label>
              <input matInput placeholder="Zadejte e-mail" [formControl]="mailLogin">
            </mat-form-field>
    
            <mat-form-field appearance="outline" class="input">
              <mat-label>Zadejte heslo</mat-label>
              <input matInput [type]="hide() ? 'password' : 'text'" [formControl]="passwordLogin" />
            </mat-form-field>

            <p-button (click)="login()" class="favorite-btn" title="Přidat do oblíbených" severity="info">Přihlásit se</p-button>
          </div>
          <p>Nemáte účet? <a (click)="zmenitForm()">Registrovat</a></p>
          } @else {
          <div>
            <div class="register-input">
              <mat-form-field appearance="outline" class="input">
                <mat-label>Jméno</mat-label>
                <input matInput placeholder="Zadejte jméno" [formControl]="firstNameRegister">
              </mat-form-field>
    
              <mat-form-field appearance="outline" class="input">
                <mat-label>Přijmení</mat-label>
                <input matInput placeholder="Zadejte přijmení" [formControl]="lastNameRegister">
              </mat-form-field>
            </div>
              
            <mat-form-field appearance="outline" class="input">
              <mat-label>E-mail</mat-label>
              <input matInput placeholder="Zadejte e-mail" [formControl]="mailRegister">
            </mat-form-field>
    
            <mat-form-field appearance="outline" class="input">
              <mat-label>Zadejte heslo</mat-label>
              <input matInput [type]="hide() ? 'password' : 'text'" [formControl]="passwordRegister"/>
            </mat-form-field>
    
            <p-button (click)="register()" class="favorite-btn" title="Přidat do oblíbených" severity="info">Registrovat</p-button>
          </div>
          <p id="toggleText">Už máte účet? <a (click)="zmenitForm()">Přihlásit</a></p>
          }
        </div>
      </div>
