
    <div class="obsah">
        <h1>Your Books</h1>
        <div class="book-items">
            <div class="book-item"><div class="book-text">Harry Potter</div></div>
            <div class="book-item"><div class="book-text">Harry Potter</div></div>
            <div class="book-item"><div class="book-text">Harry Potter</div></div>
            <div class="book-item"><div class="book-text">Harry Potter</div></div>
            <div class="book-item"><div class="book-text">Harry Potter</div></div>
        </div>
    </div>

