
    <div class="obsah">
        <h1>Your Books</h1>
        <div class="book-items">
            @if (books.length === 0) {
                <p>Žádné knihy nenalezeny.</p>
              }
              
            @for (book of books; track book.id) {
                <div class="book-item">
                    <div class="book-text">{{ book.name }}</div>
                    <div class="book-buttons">
                        <!-- Oblíbená kniha -->
                        <button class="favorite-btn" title="Přidat do oblíbených">
                            <i class="bi bi-star"></i>
                        </button>
                        <!-- Označit jako přečtenou -->
                        <button class="read-btn" title="Označit jako přečtenou">
                            <i class="bi bi-book"></i>
                        </button>
                        <!-- Smazat knihu -->
                        <button (click)="removeBook(book.bookid)" class="delete-btn" title="Smazat knihu">
                            <i class="bi bi-trash"></i>
                        </button>
                    </div>
                </div>
            }
        </div>
    </div>

