<div class="page">
    <div class="navbar">
        <i><div class="logo">DomčaBooks</div></i>

        <div class="user">
            @if (loggedIn) {
            <p>{{ userName }}</p>
            } @else {
                <p></p>
            }
        </div>
        

        <div class="navbar-items">
            @if (loggedIn) {
                <li class="navbar-item"><a routerLink=>Home</a></li>
                <li class="navbar-item"><a routerLink="/userBooks">Your List</a></li>
                <li class="navbar-item"><a routerLink="">Account</a></li>
                <li class="navbar-item"><a routerLink="">Log out</a></li> 
            } @else {
                <li class="navbar-item"><a routerLink=>Home</a></li>
                <li class="navbar-item"><a routerLink="/login">Log in</a></li>
            } 
        </div>
    </div>
    <router-outlet></router-outlet>
</div>
